body {
  margin: 0;
}

.lightbox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
  color: white;
}

.lightbox-content {
  display: inline-block;
}

.lightbox-close {
  float: right;
}

.lightbox img {
  max-height: 80vh;
}

.lightbox a {
  color: white;
}
